@font-face {
    font-family: "Ave Display";
    src: url(./fonts/Sedgwick_Ave_Display/SedgwickAveDisplay-Regular.ttf);
}

@font-face {
    font-family: "Raleway Semi Bold";
    src: url(./fonts/Raleway/Raleway-SemiBold.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "Raleway Black";
    src: url(./fonts/Raleway/Raleway-Black.ttf);
}

html {
    font-size: 18px;
}

body {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    height: 100vh;
    font-family: Raleway Semi Bold;
    font-size: 1rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
}

.container {
    width: 90%;
    max-width: 800px;
    max-height: 800px;
    height: 85vh;
    margin: auto;
    background: #f9f9f9;
    border-radius: 20px;
}

.container.flex {
    align-content: space-evenly;
}

h1 {
    font-family: Ave Display;
    text-align: center;
    color: #de5674;
    font-size: 2rem;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}

.output {
    height: 30%;
    width: 90%;
    border: 8px inset rgb(31, 90, 31);
    background: #71ee82;
}

#output.flex {
    align-items: center;
}

#output {
    width: 90%;
    max-width: 100%;
    height: 100%;
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 0;
    color: white;
    font-family: Raleway Black;
    overflow: hidden;
    overflow-wrap: anywhere;
    background: none;
    border: none;
    text-align: center;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

input#output:focus {
    border: none;
    outline: none;
}

input#output::selection {
    background: none;
    color: rgb(31, 90, 31);
}

form {
    width: 100%;
    height: 35%;
    margin: 0 auto;
}

form.flex {
    align-content: space-around;
    justify-content: space-around;
}

form div {
    width: 100%;
}

.length {
    width: 100%;
}

.length.flex {
    justify-content: space-around;
    align-items: center;
}

#length label {
    width: 60%;
}

input#length {
    width: 40%;
    text-align: center;
    border-color: #6b82e8;
    border-style: solid;
}

.option.flex {
    align-items: center;
    flex-direction: column;
}

.option {
    width: calc(100% / 6);
}

.option label {
    text-align: center;
    padding: 5px 0;
}

.option label:hover {
    color: white;
    background: #ccc;
    padding: 5px;
}

.option input {
    display: none;
}

.checkmark.flex {
    align-items: center;
}

.checkmark {
    height: 18px;
    width: 18px;
    background: #eee;
}

/* .option:hover input ~ .checkmark {
    background: #ccc;
} */

.option input:checked ~ .checkmark {
    background: #6b82e8;
}

.checkmark:after {
    content: "";
    display: none;
}

.option input:checked ~ .checkmark:after {
    display: block;
}

.option .checkmark:after {
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.generate.flex {
    justify-content: space-around;
    align-items: center;
}

.generate button {
    outline: none;
    width: 40%;
    text-align: center;
    border-style: solid;
    border: 4px inset rgb(146, 112, 163);
    background: #b1559f;
    font-family: Raleway Black;
    color: white; 
}

.generate button p {
    margin: 0 auto;
    padding: 0;
    font-size: 1em;
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .option.flex {
        justify-content: space-around;
        flex-direction: row;
    }
    
    .option label {
        padding: 0;
    }
}